.footer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  font-family: "Nifty", sans-serif;
  background-color: #43302e;
  /* text-align: center; */
  color: #fff1b5;
  padding: 20px;
  margin-top: auto;
}

/* Control the spacing of footer content */
.footer h1 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: #fff1b5;
}

.footer p {
  margin: 0;
  font-size: 0.9em;
}
