.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #111;
  text-align: center;
  color: #fff;
  padding: 20px;
  margin-top: auto;
}

/* Control the spacing of footer content */
.footer h1 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
}

.footer p {
  margin: 0;
  font-size: 0.9em;
}
